.blackBkg{
  width:100vw;
  /* height: 100vh; */
  height:max-content;
  background-color: black;
}

.start {
  text-decoration: none;
  font-size: 5em;
}

.jumpCircle {
  text-align: center;
  position: relative;
  bottom: 8em;
}

.circle {
  height: 2.5em;
  width: 2.5em;
  background: linear-gradient(#d53369, #cbad6d);
  border-radius: 50%;
  display: inline-block;
  margin: 30px;
}

.jumpName {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  position: relative;
  bottom: 4em;
}

.letter {
  display: inline-block;
  margin: 0.3em;
  font-size: 1.5em;
  background: linear-gradient(#22c1c3, #fdbb2d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  width:25vw;
  margin-left: 15vw;
}

img:hover{
  transform:scale(1.05);
  transition: 1s ease-in-out;
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: left;
  width: 20vw;
  line-height: 3.2em;
}

li {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  list-style-type: none;
  background: linear-gradient(#22c1c3, #fdbb2d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.8em;
}

img{
  display: block;
}

caption{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: white;
  display: block;
  margin-top: 1em;
}

#twitter{
  position: relative;
  top:0em;
}

#student{
  position: relative;
  top:-10em;
  left:25em;
}

#floods{
  position: relative;
  top:0em;
  left:35em;
}

.big{
  width:200em;
}

#quote{
  position: relative;
  top:10em;
  left:20em;
}

#calculator{
  position: relative;
  top:-25em;
  left:-10em;
}

#smallMealBox{
  width:20em;
}

#mealbox{
  position: relative;
  top:-25em;
  left:65em
}

a span{
  display: block;
  color:white;
}

.portfolio a{
  text-decoration: none;
}

.portfolio img{
  width: 45em;
}

.contact{
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  margin:0;
}

.contact a{
  text-decoration: none;
  font-weight: 700;
  font-size: 3em;
  color:black;
  padding: 1em;
}

.contact a:hover{
  background: linear-gradient(#22c1c3, #fdbb2d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact div{
  font-weight: 600;
  font-size: 2em;
  margin:2em;
}

/* mouse scroll down sign */
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*  */
